@model IEnumerable<NewsKeeper.Interfaces.INewsFeedAboDto>
@{
    ViewBag.Title = "Home Page";
}
<p>Feeds:<p />
@foreach (var item in Model)
{
    <p>@Html.ActionLink(item.FeedName, "NewsFeed", "Home", new { Id = item.Id }, null)<br />@item.Description</p>
}